<% good = "good: #{manga.good}" %>
<% bad = "bad: #{manga.bad}" %>
<% vote = manga.user_vote(current_user.id) %>

<div style="display:inline-flex">

  <% if vote && vote.vote_type == 1 %>
    <!-- goodが押されている -->
    <%= button_to manga_vote_path(manga, vote), method: :delete, remote: true, data: { disable_with: "..."}, class: 'good-button-on' do %>
        <%= good %>
    <% end %>
  <% else %>
    <%= button_to good_manga_votes_path(manga), remote: true, data: { disable_with: "..." }, class: 'button-off' do %>
        <%= good %>
    <% end %>
  <% end %>

  <% if vote && vote.vote_type == 2 %>
    <!-- badが押されている -->
    <%= button_to manga_vote_path(manga, vote), method: :delete, remote: true, data: { disable_with: "..."}, class: 'bad-button-on' do %>
        <%= bad %>
    <% end %>
  <% else %>
    <%= button_to bad_manga_votes_path(manga), remote: true, data: { disable_with: "..." }, class: 'button-off' do %>
        <%= bad %>
    <% end %>
  <% end %>

</div>
