<% provide(:title, "漫画") %>
<% breadcrumb :mangas %>

<h1>漫画</h1>

<%= form_tag({action: :index}, {:method=>"get"}) do %>
  <%= select_tag :order, options_for_select(::Manga::ORDERS.keys, selected: params[:order]) %>
  <%= submit_tag "検索", name: nil%>
<% end %>


<% @mangas.each do |manga| %>
  <article>

    <h1><%= link_to manga.title, manga_path(manga) %></h1>
    <p>
      <%= manga.created_at.to_date.to_s %>
      &emsp;tags:&nbsp;
      <%= manga.tags.map{|tag| tag.name}.join(", ") %>
    </p>

    <% if manga.image? %>
      <%= image_tag manga.image.url, class: 'thumbnail' %><br/>
    <% end %>

    <p><%= manga.comment %></p>

    <div class="like-buttons-<%= manga.id %>" style="display:inline-flex">
      <%= render partial: 'votes/vote', locals: { manga: manga }  %>
    </div>

  </article>
<% end %>

<%= will_paginate @mangas %>
