<% provide(:title, "4コマ漫画") %>
<% breadcrumb :mangas %>

<h1>4コマ漫画</h1>

<%= form_tag({action: :index}, {:method=>"get"}) do %>
  <%= select_tag :order, options_for_select(::Manga::ORDERS.keys, selected: params[:order]) %>
  <%= submit_tag "検索", name: nil%>
<% end %>

<%= render @mangas %>

<%= will_paginate @mangas %>
