<h1><%= @manga.title %></h1>
<%= @manga.created_at %><br/>

tags:&nbsp;
<% @manga.tags.each do |tag| %>
    <%= tag.name %> &nbsp;
<% end %>
<br/>

<%= @manga.path %><br/>
<%= image_tag @manga.path %><br/>
<%= @manga.comment %><br/>
