<% provide(:title, @manga.title) %>

<% breadcrumb @manga %>

<h1><%= @manga.title %></h1>
<%= @manga.created_at.to_date.to_s %>&emsp;

tags:&nbsp;
<%= @manga.tags.map{|tag| tag.name}.join(", ") %><br/>

<% if @manga.image? %>
  <%= image_tag @manga.image.url, class: 'thumbnail' %><br/>
<% end %>
<%= @manga.comment %><br/>
