<% breadcrumb :root %>

<% content_for :header do %>
  <div class="title">
    <h1>Gyojir's Page</h1>
  </div>
<% end %>

<% content_for :sidebar do %>
  <nav>
    <ul>
      <li><%= link_to '4コマ漫画', mangas_path %></li>
      <li><%= link_to 'Tools',  tools_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'Link',  link_path %></li>
      <li><%= link_to 'twitter', 'http://twitter.com/_gyojir' %><li>
      <li><%= link_to 'blog', 'http://blog.gyojir.com' %><li>
    </ul>
  </nav>
<% end %>

<h3>ようこそ！</h3>
<p>4コマ漫画とかあるから見てってちょ</p>
