<%= form_for [:admin, @manga] do |f| %>
  <% if @manga.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@manga.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>
    <ul>
    <% @manga.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <% if @manga.image? %>
          <%= image_tag @manga.image.url, class: 'thumbnail' %>
    <% end %>
    <br>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @manga.persisted? && @manga.image? %>
      <label>
        <%= f.check_box :remove_image %>
        画像を削除
      </label>
    <% end %>
  </p>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>

  <h2>Add a tags:</h2>
  <table>
    <tbody>
      <tr>
       <th>タグ</th>
       <th>Action</th>
      </tr>
      <%= f.nested_fields_for :tags, wrapper_tag: :tr do |q| %>
        <td><%= q.text_field :name %></td>
        <td><%= q.remove_nested_fields_link 'Delete', role: 'button' %></td>
      <% end %>
    </tbody>
  </table>
  <%= f.add_nested_fields_link :tags, 'Add new', role: 'button' %>

  <p>
    <%= f.submit %>
  </p>
<% end %>
