<!DOCTYPE html>
<html>
  <head>
    <!-- <title>GyojirPage</title> -->
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if Rails.env.production? %>
  </head>

  <body>
    <div class="wrapper">

      <header>
          <%= breadcrumbs separator: " &rsaquo; " %>
          <%= yield(:header) %>
      </header>
      <div class="container">
        <aside class="sidebar">
          <%= yield(:sidebar) %>
        </aside>
        <main class="main skeleton-container">
          <%= yield %>
        </main>
      </div>
      <footer class="footer">
        <p>Copyright &copy; 2017-2019 gyojir All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
